.xql-design-source-layout .xql-design-source-content .xql-design-title {
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem;
}
.xql-design-source-layout .xql-design-source-content .xql-design-form-group {
    padding-bottom: 0.6rem;
}
.xql-design-source-layout .xql-design-source-content .xql-design-form-group .xql-design-label {
    text-align: right;
    padding: 0.4rem 0.8rem 0.4rem 0.4rem;
}